<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox - Chats</title>
    <link
      rel="shortcut icon"
      href="/images/uploads/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/stylesheets/inbox.css" />
  </head>
  <body>
    <div id="main">
      <div id="left">
        <svg
          onclick="window.location.href = '/instagram'"
          aria-label="Instagram"
          class="x1lliihq x1n2onr6"
          color="rgb(245, 245, 245)"
          fill="rgb(245, 245, 245)"
          height="44"
          role="img"
          viewBox="0 0 24 24"
          width="44"
        >
          <title>Instagram</title>
          <path
            d="M12 2.982c2.937 0 3.285.011 4.445.064a6.087 6.087 0 0 1 2.042.379 3.408 3.408 0 0 1 1.265.823 3.408 3.408 0 0 1 .823 1.265 6.087 6.087 0 0 1 .379 2.042c.053 1.16.064 1.508.064 4.445s-.011 3.285-.064 4.445a6.087 6.087 0 0 1-.379 2.042 3.643 3.643 0 0 1-2.088 2.088 6.087 6.087 0 0 1-2.042.379c-1.16.053-1.508.064-4.445.064s-3.285-.011-4.445-.064a6.087 6.087 0 0 1-2.043-.379 3.408 3.408 0 0 1-1.264-.823 3.408 3.408 0 0 1-.823-1.265 6.087 6.087 0 0 1-.379-2.042c-.053-1.16-.064-1.508-.064-4.445s.011-3.285.064-4.445a6.087 6.087 0 0 1 .379-2.042 3.408 3.408 0 0 1 .823-1.265 3.408 3.408 0 0 1 1.265-.823 6.087 6.087 0 0 1 2.042-.379c1.16-.053 1.508-.064 4.445-.064M12 1c-2.987 0-3.362.013-4.535.066a8.074 8.074 0 0 0-2.67.511 5.392 5.392 0 0 0-1.949 1.27 5.392 5.392 0 0 0-1.269 1.948 8.074 8.074 0 0 0-.51 2.67C1.012 8.638 1 9.013 1 12s.013 3.362.066 4.535a8.074 8.074 0 0 0 .511 2.67 5.392 5.392 0 0 0 1.27 1.949 5.392 5.392 0 0 0 1.948 1.269 8.074 8.074 0 0 0 2.67.51C8.638 22.988 9.013 23 12 23s3.362-.013 4.535-.066a8.074 8.074 0 0 0 2.67-.511 5.625 5.625 0 0 0 3.218-3.218 8.074 8.074 0 0 0 .51-2.67C22.988 15.362 23 14.987 23 12s-.013-3.362-.066-4.535a8.074 8.074 0 0 0-.511-2.67 5.392 5.392 0 0 0-1.27-1.949 5.392 5.392 0 0 0-1.948-1.269 8.074 8.074 0 0 0-2.67-.51C15.362 1.012 14.987 1 12 1Zm0 5.351A5.649 5.649 0 1 0 17.649 12 5.649 5.649 0 0 0 12 6.351Zm0 9.316A3.667 3.667 0 1 1 15.667 12 3.667 3.667 0 0 1 12 15.667Zm5.872-10.859a1.32 1.32 0 1 0 1.32 1.32 1.32 1.32 0 0 0-1.32-1.32Z"
          ></path>
        </svg>
        <a href="/instagram">
          <svg
            aria-label="Home"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <path
              d="M9.005 16.545a2.997 2.997 0 0 1 2.997-2.997A2.997 2.997 0 0 1 15 16.545V22h7V11.543L12 2 2 11.543V22h7.005Z"
              fill="none"
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </a>
        <div id="search">
          <a id="search-click" href="#">
            <svg
              aria-label="Search"
              class="_ab6-"
              color="rgb(245, 245, 245)"
              fill="rgb(245, 245, 245)"
              height="44"
              role="img"
              viewBox="0 0 24 24"
              width="44"
            >
              <path
                d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
              <line
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="16.511"
                x2="22"
                y1="16.511"
                y2="22"
              ></line>
            </svg>
          </a>
          <div id="searching">
            <h2>Search</h2>
            <input
              placeholder="Search"
              id="search-box"
              onkeyup="sendData(this)"
              type="text"
            />
            <div id="searchResults"></div>
          </div>
        </div>
        <a href="/explore">
          <svg
            aria-label="Explore"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <polygon
              fill="none"
              points="13.941 13.953 7.581 16.424 10.06 10.056 16.42 7.585 13.941 13.953"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></polygon>
            <polygon
              fill-rule="evenodd"
              points="10.06 10.056 13.949 13.945 7.581 16.424 10.06 10.056"
            ></polygon>
            <circle
              cx="12.001"
              cy="12.005"
              fill="none"
              r="10.5"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></circle>
          </svg>
        </a>
        <a href="/reels">
          <svg
            aria-label="Reels"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <line
              fill="none"
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="2"
              x1="2.049"
              x2="21.95"
              y1="7.002"
              y2="7.002"
            ></line>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="13.504"
              x2="16.362"
              y1="2.001"
              y2="7.002"
            ></line>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="7.207"
              x2="10.002"
              y1="2.11"
              y2="7.002"
            ></line>
            <path
              d="M2 12.001v3.449c0 2.849.698 4.006 1.606 4.945.94.908 2.098 1.607 4.946 1.607h6.896c2.848 0 4.006-.699 4.946-1.607.908-.939 1.606-2.096 1.606-4.945V8.552c0-2.848-.698-4.006-1.606-4.945C19.454 2.699 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.546 2 5.704 2 8.552Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
            <path
              d="M9.763 17.664a.908.908 0 0 1-.454-.787V11.63a.909.909 0 0 1 1.364-.788l4.545 2.624a.909.909 0 0 1 0 1.575l-4.545 2.624a.91.91 0 0 1-.91 0Z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </a>
        <a href="/inbox">
          <svg
            aria-label="Messenger"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <path
              d="M12.003 1.131a10.487 10.487 0 0 0-10.87 10.57 10.194 10.194 0 0 0 3.412 7.771l.054 1.78a1.67 1.67 0 0 0 2.342 1.476l1.935-.872a11.767 11.767 0 0 0 3.127.416 10.488 10.488 0 0 0 10.87-10.57 10.487 10.487 0 0 0-10.87-10.57Zm5.786 9.001-2.566 3.983a1.577 1.577 0 0 1-2.278.42l-2.452-1.84a.63.63 0 0 0-.759.002l-2.556 2.049a.659.659 0 0 1-.96-.874L8.783 9.89a1.576 1.576 0 0 1 2.277-.42l2.453 1.84a.63.63 0 0 0 .758-.003l2.556-2.05a.659.659 0 0 1 .961.874Z"
            ></path>
          </svg>
        </a>
        <a href="">
          <svg
            aria-label="Notifications"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <path
              d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
            ></path>
          </svg>
        </a>
        <a id="create" href="/createpost">
          <svg
            aria-label="New post"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <path
              d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="6.545"
              x2="17.455"
              y1="12.001"
              y2="12.001"
            ></line>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="12.003"
              x2="12.003"
              y1="6.545"
              y2="17.455"
            ></line>
          </svg>
        </a>
        <a href="/profile/<%= loggedinuser.username %>">
          <div id="image">
            <img
              onerror="this.style.display='none'"
              src="/image/<%= loggedinuser.profileImage %>"
              alt=""
            />
          </div>
        </a>
        <a href="">
          <svg
            aria-label="Settings"
            class="_ab6-"
            color="rgb(245, 245, 245)"
            fill="rgb(245, 245, 245)"
            height="44"
            role="img"
            viewBox="0 0 24 24"
            width="44"
          >
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="3"
              x2="21"
              y1="4"
              y2="4"
            ></line>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="3"
              x2="21"
              y1="12"
              y2="12"
            ></line>
            <line
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              x1="3"
              x2="21"
              y1="20"
              y2="20"
            ></line>
          </svg>
        </a>
      </div>
      <div id="center">
        <div id="chat-top">
          <h2>Chats</h2>
        </div>
        <div id="chat-list">
          <% allusers.forEach(function(user){ %> <%
          if(loggedinuser.following.indexOf(user.id) !== -1){ %>
          <div id="chat-user" data-id="<%= user._id %>">
            <div id="chat-user-image">
              <img
                onerror="this.style.display = 'none'"
                src="/image/<%= user.profileImage %>"
                alt=""
              />
            </div>
            <% if(user.is_online == 1){ %>
            <div class="status" id="status-<%= user.id %>"></div>
            <% } %>
            <div id="chat-user-name">
              <h4 style="font-weight: 400"><%= user.username %></h4>
              <% if(user.is_online == 1){ %>
              <small id="active-<%= user.id %>">Active now</small>
              <% } %>
            </div>
          </div>

          <% } %> <% }) %>
        </div>
      </div>
      <div id="right">
        <div id="container">
          <div id="user-nav">
            <div id="user-dets">
              <div id="user-dets-image">
                <img  src="" alt="" />
              </div>
              <div id="user-dets-name"></div>
            </div>
            <svg
              aria-label="Conversation information"
              class="x1lliihq x1n2onr6"
              color="rgb(245, 245, 245)"
              fill="rgb(245, 245, 245)"
              height="24"
              role="img"
              viewBox="0 0 24 24"
              width="24"
            >
              <title>Conversation information</title>
              <circle
                cx="12.001"
                cy="12.005"
                fill="none"
                r="10.5"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></circle>
              <circle cx="11.819" cy="7.709" r="1.25"></circle>
              <line
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="10.569"
                x2="13.432"
                y1="16.777"
                y2="16.777"
              ></line>
              <polyline
                fill="none"
                points="10.569 11.05 12 11.05 12 16.777"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></polyline>
            </svg>
          </div>
          <div id="msg-container">
            
          </div>
          <div id="send">
            <textarea
              placeholder="Message..."
              name=""
              id=""
              cols="30"
              rows="10"
            ></textarea>
            <button id="button" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
      integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/javascripts/inbox.js"></script>
    <script>
      let sender_id = "<%= loggedinuser._id %>";
      let receiver_id;

      

      let textarea = document.querySelector("textarea");

      var socket = io({
        auth: {
          token: "<%= loggedinuser._id %>",
        },
      });

      socket.on("getOnlineUser", function (data) {
        document.querySelector(`#status-${data.loggedinuserId}`).style.display =
          "initial";
        document.querySelector(`#active-${data.loggedinuserId}`).style.display =
          "initial";
      });

      socket.on("getOfflineUser", function (data) {
        document.querySelector(`#status-${data.loggedinuserId}`).style.display =
          "none";
        document.querySelector(`#active-${data.loggedinuserId}`).style.display =
          "none";
      });

      let clutter = ''

      const append = function (message, position) {

        var div = document.createElement("div");
        div.classList.add("message");
        div.classList.add(position);
        div.textContent = message;
        document.querySelector("#msg-container").appendChild(div);
        textarea.value = ""
      };

      

      document.querySelector("#button").addEventListener("click", function () {
        if(textarea.value.trim().length > 0){
          socket.emit("message", {
          sender_id: sender_id,
          receiver_id: receiver_id,
          message: textarea.value,
        });
        append(textarea.value, "right");
        scrollChat()
        }
      });

      socket.on("message",function(data){
        if(sender_id === data.receiver_id && receiver_id === data.sender_id){
          append(data.message,"left")
        }
        scrollChat()
      })

      document.querySelectorAll("#chat-user").forEach(function (chat_user) {
        chat_user.addEventListener("click", function () {
          receiver_id = this.getAttribute("data-id");

          socket.emit("existchat",{sender_id: sender_id, receiver_id: receiver_id})

          document.querySelector("#container").style.display = "initial";
          socket.emit("userDetails",receiver_id)
          socket.on("user-details",function(data){
            document.querySelector("#user-dets-image img").src = `/image/${data.profileImage}`
            document.querySelector("#user-dets-name").textContent = data.username
          })
        });
      });

      //load old chats
      socket.on("loadchats",function(data){
        document.querySelector("#msg-container").innerHTML = ''
        let chats = data
        let html = ''
        for(let x = 0; x < chats.length; x++){
          
          if(chats[x]['sender_id']===sender_id){
            append(chats[x]['message'], "right");
          }else{
            append(chats[x]['message'],"left")
          }
          scrollChat()
          
        }
        
      })

      function scrollChat(){
        $('#msg-container').animate({
          scrollTop: $('#msg-container').offset().top + $('#msg-container')[0].scrollHeight
        },0)
      }

    
      


    </script>
  </body>
</html>
